<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='style.css') }}">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="main">
        {% block body %}
        {% endblock %}
        </div>
        <p>
            PRO 3564 2021 - Princípios de Marketing para a Engenharia de Produção <br>
            Estudo de Caso 02 - Protótipo da proposta do case<br><br>
            
            Grupo 19 <br>
            André Luiz Tiago Soares - 9346875 <br>
            Giovanna Girotto - 11803416 <br>
            Mateus Rezende - 9772061 <br>
            Matheus Caires Santos - 10857912 <br><br>
            </p>
            <br><br>
            Esse aplicativo utiliza cookies para marcar usuários com seu id e seu nome<br>
            Esses cookies são necessários para funcionamento correto do jogo<br><br>
            A presença de cookies pode causar erros de navegação em algumas páginas. <br>
            Para limpar cookies usado por esse aplicativo, acessar: <br>
            <a href="http://rocky-castle-82518.herokuapp.com/reset">http://rocky-castle-82518.herokuapp.com/reset</a> 
        <script src="" async defer></script>
    </body>
</html>