{% extends 'base.html' %}
{% block body %}
<form method="post">
    <label for="username">Choose a name:</label><br>
    <input id='username' type="text" name='name'><br>
    <input value = "Enter" type="submit"><br>
</form>
<p>
PRO 3564 2021 - Princípios de Marketing para a Engenharia de Produção <br>
Estudo de Caso 02 - Protótipo da proposta do case<br><br>

Grupo 19 <br>
André Luiz Tiago Soares - 9346875 <br>
Giovanna Girotto - 11803416 <br>
Mateus Rezende - 9772061 <br>
Matheus Caires Santos - 10857912 <br><br>
</p>
{% endblock %}