{% extends 'base.html' %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8">
    const socket = io()
    const my_id = '{{ user_id }}'
    const my_role = '{{ user_role }}'

    console.log(my_id)

    var setInnerHTML = function(elm, html) {
        elm.innerHTML = html;
        Array.from(elm.querySelectorAll("script")).forEach( oldScript => {
            const newScript = document.createElement("script");
            Array.from(oldScript.attributes)
            .forEach( attr => newScript.setAttribute(attr.name, attr.value) );
            newScript.appendChild(document.createTextNode(oldScript.innerHTML));
            oldScript.parentNode.replaceChild(newScript, oldScript);
        });
    }

    socket.on('connect', function() {
        socket.emit("join_room");
    });

    socket.on('game_update', function(data){
        console.log('Game screen update')
        console.log(data["doc"])
        element = document.getElementById('game-screen')
        setInnerHTML(element, data['doc'])
    });

</script>
{% endblock %}

{% block body %}
<div id="game-screen">
</div>
{% endblock %}

