:root {
    --primary: #EF6F6C;
    --secondary: #465775;
    --secondary: #000;
    --third: #08160f;
    --fourth: #56e39f;
    --fifth: #5B6C5D;
    --background: #111;
    --background-light: rgba(250,250,250,0.2);
    --border: rgba(90,100,90,0.3)
}

#login-form-wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}

#room-info{
    width: auto;
    padding-top: 0px;
    margin-top: 0px;
}

#room-status-indicator-Open{
    color: var(--fourth);
}

#room-status-indicator-Closed{
    color: var(--primary);
}

body{
    font-family: monospace;
    text-align: center;
    font-size: 16px;
    margin:0;
    padding: 0;
    background: -webkit-linear-gradient(left, var(--secondary) 20px, transparent 1%) center, -webkit-linear-gradient(var(--secondary) 20px, transparent 1%) center, var(--third);
    background: linear-gradient(90deg, var(--secondary) 20px, transparent 1%) center, linear-gradient(var(--secondary) 20px, transparent 1%) center, var(--third);
    background-size: 22px 22px;
    color:white;
}

div{
    padding:0;
    padding-top: 10px;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border);
    border-radius: 5px;
    background-color: var(--background);
}

h1{
    color: var(--primary);
    margin: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
}

input[type="text"]{
    width: 80%;
    max-width: 200px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--border);
    background-color: var(--background-light)
}

input[type="submit"] {
    height: 40px;
    width: 90px;
    color:white;
    background-color: var(--primary);
    border-width: 0px;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
    width: 100px;
    height: 60px;
    margin-right: 10px;
    padding: 10px;
    background-color: #222;
    border-width: 0px;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    color: white;
}

button:hover {
    background-color: #444
}

.cover{
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding-top: 0px;
}

.cover-content{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
    border-width: 0px;
    background-color:transparent;
    height: 100%;
}

.vertical-section{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-width: 0;
    width: 100%;
    max-width: 100%;
}

.splitter-left{
    float: left;
    margin: 0;
    height: 100%;
    width: auto;
    background-color: transparent;
    border-width: 0px;
}

.splitter-right{
    float: right;
    margin: 0;
    height: 100%;
    width: auto;
    background-color: transparent;
    border-width: 0px;
}

.user-container{
    padding: 0;
    height: 50px;
    text-align: left;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.room-data{
    width: 20%;
    padding: 0px;
    margin-right: 10px;
}

.status-indicator-wrapper{
    float: left;
    margin: 0px;
    margin-top: -10px;
    padding: 0px;
    width: 50px;
    height: 100%;
    background: #222;
    border: transparent;
    border-radius: 0px;
}

.status-indicator{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--fourth);
    margin: auto;
    padding:0px;
    position: relative;
    top: 50%;
    transform: translate(0, -100%);
}

.textv-center{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%)
}

.user-container-tab{
    margin: 0px;
    padding: 0px;
    background-color: #222;
    height: 100%;
    width: 40px;
    border: transparent;
    border-radius: 0px;
    float:left;
}

.user-container-name_display {
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: transparent;
    height: 100%;
    width: 30%;
    float:left;
    text-align: right;
}

.user-container-character-display{
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: transparent;
    height: 100%;
    width: 60%;
    float:left;
    text-align: center;
    color: var(--primary)
}

.message{
    height: 200px;
    width: 300px;
    padding: 0px;
}